#encabezado{
    border-radius: 10px;
    background-image: linear-gradient(90deg, rgb(136, 136, 245), rgb(248, 135, 135));
    display: block;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    margin-left: 14px;
    padding-top: 8px;
     transition:  1s;
}
    h1:hover{
        color:rgb(252, 110, 110) ;      
    }

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 15.5px;
    margin-left: 14px;
}
#trabajos{
    background-image: linear-gradient(90deg, rgb(136, 136, 245), rgb(248, 135, 135));
    height: max-content;
    border-radius: 10px;
    transition: all 2s;
}
#ej{
    width: fit-content;
    margin: auto;
}
#imagen{
    width: 300px;
    /* height: 21%; */
    margin-top: 20px;
    margin-left: 65px;
    border-radius: 18px;
    transition: all .5s;

}
#imagen:hover{
    margin-bottom: 20px;
    margin-top: 20px;
    transform: scale(1.03);
   
    

    
}
 #ej:hover #encabezado{
    background-image:linear-gradient(90deg, rgb(0, 36, 212), rgb(218, 135, 125));
    transition: all 2s;
 }


